/* || General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.box-width {
    width: 1320px;
}

.flex__colamn {
    display: flex;
    flex-direction: column;
}

.flex__row {
    display: flex;
    align-items: center;
}



/* Typography */

h1 {
    font-size: 48px;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1A1A1A;
}


/* || header */

.start__header__container {
    background-color: #333333;
    color: #B3B3B3;
    justify-content: center;
    align-items: center;
    height: 42px;
}

.start__header__box {
    justify-content: space-between;
}

.header__box__location {
    gap: 8px;
}

.header__box__location + div {
    gap: 20px;
}

.middle__header__container {
    justify-content: center;
    align-items: center;
    height: 92px;
}

.middle__header__container > div {
    align-items: center;
    justify-content: space-between;
}

.middle__box__form > label {
    position: relative;
    left: 38px;
}

.header__input__text {
    padding: 13px 18px 13px 46px;
    border: 1px solid #cac4c4;
    border-radius: 4px 0 0 4px;
    width: 400px;
}

.middle__box__form {
    align-items: center;
}

.header__input__text + input {
    padding: 14px 24px;
    background-color: #00B207;
    color: #fff;
    border-radius: 0px 6px 6px 0px;
    border: 0;
}

.middle__box__form + div {
    color: #cccccc;
    align-items: center;
    gap: 16px;
}

.bag__with__two {
    gap: 12px;
    align-items: center;
    color: #1A1A1A;
}

.bag__with__two > div > span {
    color: #4D4D4D;
    font-size: 11px;
}




.nav__container {
    justify-content: center;
    height: 60px;
    align-items: center;
}

.nav__bar {
    gap: 32px;
    list-style: none;
    color: #666666;
}

.nav__bar a {
    color: #666666;
    text-decoration: unset;
}

.nav__bar a:focus, .nav__bar a:hover {
    color: #00B207;
}

.nav__container div {
    justify-content: space-between;
    align-items: center;
}

.nav__tel {
    align-items: center;
    gap: 8px;
    color: #1A1A1A;
    font-weight: 500;
}



/* || main */


/* section */

.baner__container {
    justify-content: center;
    height: 120px;
    background-image: url("checkout-image/hiro-baner.png");
    background-repeat: no-repeat;
    background-position: center;
}

.baner__container > div {
    gap: 10px;
    font-weight: 400;
}

.baner__container h6 {
    color: #999;
}

.baner__container a {
    all: unset;
}

.baner__container .baner__a {
    color: #00B207;
}


/* article */

.main-billing__container {
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 80px;
}

.billing__container {
    gap: 24px;
    align-items: flex-start;
}

.billing__left-boxes {
    gap: 32px;
}

.billing__left-boxes--start-box {
    padding-bottom: 32px;
    border-bottom: 1px solid #E6E6E6;
    gap: 20px;
}

.billing__start-box--form {
    gap: 16px;
}

.billing__start-box--form label {
    color: #1A1A1A;
    font-size: 14px;
}

.start-box__box--gap-16 {
    gap: 16px;
}

.gap-8__box {
    gap: 8px;
}

.start-box__costumer-information {
    width: 280px;
}

.gap-8__box input, .gap-8__box textarea {
    padding: 14px 16px;
}

.gap-8__box input::placeholder, .gap-8__box textarea::placeholder {
    color: #999999;
    font-size: 16px;
}

.box-border {
    border-radius: 6px;
    border: 1px solid #E6E6E6;
}

.choose__box {
    padding: 14px 16px;
    gap: 10px;
}

.choose__box button {
    background-color: #fff;
    border: 0;
}

.choose__box input {
    border: 0;
    padding: 0;
    width: 222px;
}

.start-box__housing-information {
    gap: 180px;
}

.states__box {
    width: 116px;
}

.states__box input {
    width: 58px;
}

.start-box__zip-code {
    width: 110px;
}

.start-box__contact-information input {
    width: 428px;
}

.start-box__checkbox {
    gap: 6px;
}

.start-box__checkbox label {
    color: #4D4D4D;
}


.billing__left-boxes--end-box {
    gap: 20px;
}

.billing__left-boxes--end-box label {
    color: #1A1A1A;
    font-size: 14px;
}

.billing__left-boxes--end-box textarea {
    width: 872px;
    height: 100px;
    resize: none;
}


.optional__span {
    color: #808080;
}



.billing__right-box {
    padding: 24px;
    width: 424px;
    gap: 24px;
}

.rigth-box__start-box {
    gap: 12px;
}

.rigth-box__product-information {
    justify-content: space-between;
    color: #1A1A1A;
    font-size: 14px;
}

.rigth-box__product-information > div {
    gap: 6px;
}

.rigth-box__product-information > span {
    font-weight: 500;
}

.right-box__price-info {
    padding: 12px 0;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
    color: #4D4D4D;
    font-size: 14px;
}

.right-box__price-info span {
    color: #1A1A1A;
    font-weight: 500;
}

.right-box__total-price-info {
    padding-bottom: 0;
    border: 0;
    font-size: 16px;
}

.right-box__total-price-info > p {
    font-size: 16px;
}


.right-box__payment-method {
    gap: 16px;
}

.right-box__payment-method--form {
    gap: 10px;
}

.right-box__payment-method--form label {
    color: #4D4D4D;
}

.right-box__payment-method--button {
    padding: 16px 40px;
    border-radius: 43px;
    background-color: #00B207;
    border: 0;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}



/* section */


.end__section__container {
    justify-content: center;
    align-items: center;
    height: 162px;
    gap: 55px;
    background-color: #F7F7F7;
}

.end__section__box {
    justify-content: space-between;
    align-items: center;
}


.end__section__p {
    gap: 4px;
    width: 448px;
}

.end__section__p p {
    color: #999999;
}

.end__section__input {
    padding: 14px 24px;
    border-radius: 46px;
    width: 444px;
    border: 1px solid  #E6E6E6;
}

.end__section__input + input {
    padding: 14px 40px;
    border-radius: 46px;
    background-color: #00B207;
    color: #fff;
    border: 0;
    position: relative;
    right: 50px;
}

.social__buttons > button {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: unset;
}

.social__buttons > button:focus {
    background-color: #00B207;
    border-radius: 50%;
}

.social__buttons {
    gap: 8px;
}




/* footer */

.main__footer__container {
    align-items: flex-end;
    justify-content: center;
    background-color: #1A1A1A;
}

.main__footer__container > div {
    padding-top: 60px;
    gap: 60px;
}

.footer__logo__container, .footer__logo__text  {
    gap: 120px;
}

.footer__logo {
    gap: 16px;
    width: 336px;
    color: #808080;
}

.footer__logo img {
    width: 184px;
}

.footer__logo > div p {
    color: #FFFFFF;
    padding: 6px 0;
    border-bottom: 1px solid #20B526;
}

.footer__logo div {
    gap: 16px;
}

.footer__logo__text a {
    color: #999999;
    text-decoration: unset;
    font-size: 14px;
}

.footer__logo__text > div {
    gap: 16px;
}

.footer__logo__text ul {
    gap: 4px;
    list-style: none;
}

.footer__logo__text > div > h6 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.footer__logo__text a:hover, .footer__logo__text a:focus {
    color: #fff;
}

.copyright__box {
    color: #808080;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #333;
}

.copyright__box > div {
    gap: 8px;
}